################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
parts = part
versions = versions
hooks-directory = ${buildout:directory}/hooks
[versions]
[part]
recipe = minitage.recipe.cmmi
md5sum=f6e3294c4edb7b6bca8459e604286348

url = http://${mirrors:gentoo}/distfiles/pixman-0.28.2.tar.bz2

[mirrors]
gentoo=gentoo.tiscali.nl

