################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
parts = part
versions = versions
hooks-directory = ${buildout:directory}/hooks
[versions]
[part]
recipe = minitage.recipe.cmmi
md5sum=a1b5a0a145cab653f5c1e8cf2f98f945

url = http://${mirrors:gentoo}/distfiles/pixman-0.18.0.tar.bz2

[mirrors]
gentoo=gentoo.tiscali.nl
